@import url("setup.css");

.container {
  width: 100vw;
  height: 82vh;
  position: absolute;
  top: 18vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Prevent content from being cut off */
}

.dashboard-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

.container h2 {
  margin-top: 2rem;
  text-transform: uppercase;
  color: var(--gray);
}

.date-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#date {
  padding: 1rem;
  background-color: var(--gray);
  color: #fff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: inherit;
}

.boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.box {
  width: 20rem;
  height: 20rem;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
}

.box span {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* Chart container */
.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.charts canvas {
  flex: 1 1 300px;
  max-width: 800px;
  max-height: 600px;
  width: 100% !important;
  height: auto !important;
}
